body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 800px;
  height: 500px;
  background: #f8c9c9;
  margin: 20px auto;
  padding: 20px;
}

.title {
  background: #9fb8cf;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;

}

.content {
  background: #e3f4ff;
  padding: 20px;
  margin: top 20px; 
  margin-bottom: 40px;
  font-size: 25px;
}

.button-container {
  
  background: #e3f4ff;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto ;
  padding: 20px 60px;
 
}